@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}



textarea:focus::placeholder {
  color: transparent;
}



.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}

ol li:hover {
  color:rgba(59,173,227,1);
  font-weight: bold;
  cursor: pointer;
}

.flexBox {
  display: inline-flex;
  padding: 3px;
}

ol li:hover > .flexBox > .removeButton {
  visibility: visible;
}

.highlighted {
  color:rgb(153, 90, 205);
  font-weight: bold;
  text-decoration: underline;
}

.removeButton {
  color: white;
  visibility: hidden;
  padding-left: 10px;
  padding-top: 4px;
}

.removeButton:hover {
  color: red;
}

.scroll::-webkit-scrollbar {
  display: none;
}


.fullPage {
  height: 100%;
}

.text {
  color: #ffffff;
}

.text1 {
  color: #ffffff;
  display: inline;
}

.text2 {
  color: #892cdc;
  display: inline;
}
.videoFormat {
  height:90%;
  width:90%;
}



.form {
  padding-top: 10px;
}

.titleBox{
  margin-top:50%;
  width:100%;
  text-align: center;
  color: #bc6ff1;
}
.textBox {
  height: 50vh;
  color: #ffffff;
}



.chatArea {
  margin-top: 45%;
  height: 50vh;
  padding-left: 20px;
  padding-right: 20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}


.chatTime{
  font-size: 12px;
  color: #757575;
  text-align: right;
  float: right;
}

.sendButton {
  background-color: #bc6ff1;
  color:white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  border-color: #bc6ff1;
}
.sendButton:hover {
  background-color: #892cdc;
  color:white;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  border-color: #892cdc;
}
.chatBubble{
  background-color: #272727;
  color: white;
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  max-width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  text-align: left;
}

.chatBubbleCurrentUser {
  color: white;
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  max-width: 300px;
  word-wrap: break-word;
  margin-left: auto;
  width: 70%;
  font-size:14px;
  background-color: #bc6ff1;
}



.footer {
  text-align: center;
  color: white;
}
.form-control:focus {
  box-shadow: none;
}

.buttonList{
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.videoPlayer{
}

.buttonPadding{
  background-color:#bc6ff1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
  border-radius: 50%;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.buttonPadding2{
  background-color:#121212;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
  width: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  color: #bc6ff1;
}

.musicIconColor {
  color: #bc6ff1;
}

.logIn{
  color:white;
  padding-top:15px;
  text-align: center;
}
.btn-submit {
  background-color: #000000;
  color: white;
}

.navbar-custom {
  background-color: #272727;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chatArea .chatBubble {
    max-width: 250px;
  }
}

.soundIconLeft {
  color: #bc6ff1;
  padding-left: 10px;
  padding-right: 10px;
}
.soundIconRight {
  color: #bc6ff1;
  padding-left: 10px;
  padding-right: 10px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:10px;
  
}

.range {
  border-color: rgb(59,173,227);  
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  border-color: rgb(59,173,227);  
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}