@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}


.chat-area {
  margin-top: 60px;
}


.fullPage {
  height: 100%;
}

.mainSection {
  margin-top:60px;
  height: 80vh;
  background-color: #121212;
}

.center{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.text {
  color: #ffffff;
}

.text1 {
  color: #ffffff;
  display: inline;
}
.text2 {
  color: #892cdc;
  display: inline;
}

.chat-area {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}

.chat-area .chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  width: 70%;
  background-color: #a5d6a7;
}

.form-control {
  width: 60%;
}

.footer {
  text-align: center;
  color: white;
}
.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
  background-color:#bc6ff1;
  border: none;
}

.buttonList{
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonPadding{
  background-color:#bc6ff1;
  margin-left:10px;
  margin-right:10px;
  border: none;
}

.btn-submit {
  background-color: #000000;
  color: white;
}

.navbar-custom {
  background-color: #272727;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}