@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}
.chat-area {
  margin-top: 45%;
  height: 50vh;
  padding-left: 20px;
  padding-right: 20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
}
.chat-area::-webkit-scrollbar {
  display: none;
}


.fullPage {
  height: 100%;
}

.mainSection {
  margin-top:60px;
  height: 80vh;
  background-color: #121212;
}

.center{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
.videoFormat {
  height:90%;
  width:90%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  color: #ffffff;
}

.form {
  padding-top: 10px;
}

.titleBox{
  margin-top:50%;
  width:100%;
  text-align: center;
  color: #bc6ff1;
}
.textBox {
  height: 50vh;
  color: #ffffff;
}

.text1 {
  color: #ffffff;
  display: inline;
}
.text2 {
  color: #892cdc;
  display: inline;
}


.chat-area .chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  width: 70%;
  background-color: #a5d6a7;
}

.form-control {
  width: 60%;
}

.footer {
  text-align: center;
  color: white;
}
.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
  background-color:#bc6ff1;
  border: none;
}

.buttonList{
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonPadding{
  background-color:#bc6ff1;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  border: none;
  border-radius: 20%;
  width: 8%;
}

.logIn{
  color:white;
  padding-top:15px;
  text-align: center;
}
.btn-submit {
  background-color: #000000;
  color: white;
}

.navbar-custom {
  background-color: #272727;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}